<div class="top-nav">
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-light ">
			<div class="container-fluid">

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<div class="col-md-2 single-cta">
						<i class="fa-solid fa-phone"></i> &nbsp;
						<a href="tel:+919542300569" class="header-text">+91 9542300569</a>
					</div>
					&nbsp;
					&nbsp;
					&nbsp;
					<div class="col-md-3 single-cta">
						<i class="fa-solid fa-envelope"></i> &nbsp;
						<a href="mailto:cinderalla@example.com" class="header-text">info@woodline.com</a>
					</div>


				</div>

				<div class="d-flex align-items-center">
					<!-- Icon -->
					<a class="text-reset me-3" href="#">
						<ul class="social-network social-circle">
							<li><a href="#" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
							<li><a href="#" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a>
							</li>
							<li><a href="#" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
						</ul>
					</a>


				</div>
			</div>
		</nav>
	</div>
</div>



<nav class="navbar navbar-expand-lg navbar-dark bg-color" id="myHeader">
	<div class="container">
		<a class="navbar-brand" href="#">WoodLine</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="main_nav">

			<ul class="navbar-nav ms-auto">
				<li class="nav-item"><a class="nav-link" href="#"> Home </a></li>

				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Centring Items </a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" routerLink="/runner"> Runner - 3 x 3</a></li>
						<li><a class="dropdown-item" href="#"> Lapam - 3 x 1 </a></li>
						<li><a class="dropdown-item" href="#"> Bottom - 9" </a></li>
						<li><a class="dropdown-item" href="#"> Bottom - 6" </a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Neem Sizes </a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#"> Neem - 5 x 4</a></li>
						<li><a class="dropdown-item" href="#"> Neem - 5 x 3 </a></li>
						<li><a class="dropdown-item" href="#"> Neem - 4 x 3 </a></li>
						<li><a class="dropdown-item" href="#"> Neem - 3 x 2 </a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Babool Sizes </a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#"> Babool - 3 1/2</a></li>
						<li><a class="dropdown-item" href="#"> Babool - 2 </a></li>
						<li><a class="dropdown-item" href="#"> Babool - 4 1/2 </a></li>
						<li><a class="dropdown-item" href="#"> Babool - 5 1/2 </a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link  dropdown-toggle" href="#" data-bs-toggle="dropdown"> Gary Sizes </a>
					<ul class="dropdown-menu dropdown-menu-end">
						<li><a class="dropdown-item" href="#"> Gary - 2 x 1</a></li>
						<li><a class="dropdown-item" href="#"> Gary - 3 x 1 </a></li>
						<li><a class="dropdown-item" href="#"> Gary - 4 x 1 </a></li>
						<li><a class="dropdown-item" href="#"> Gary - 5 x 1 </a></li>
					</ul>
				</li>
				<li class="nav-item"><a class="nav-link" routerLink="/about-us"> About Us </a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/contact-us"> Contact Us </a></li>
			</ul>
		</div> <!-- navbar-collapse.// -->
	</div> <!-- container-fluid.// -->
</nav>