#myHeader {
    position: sticky;
    top: 0;
    background-color: white;
	box-shadow: 13px 13px 7px -15px #111;
    z-index: 3;
}

@media all and (min-width: 992px) {
	.navbar .dropdown-menu-end {
		right: 0;
		left: auto;
	}

	.navbar .nav-item .dropdown-menu {
		display: block;
		opacity: 0;
		visibility: hidden;
		transition: .3s;
		margin-top: 0;
	}

	.navbar .nav-item:hover .nav-link {
		color: #111;
	}

	.navbar .dropdown-menu.fade-down {
		top: 80%;
		transform: rotateX(-75deg);
		transform-origin: 0% 0%;
	}

	.navbar .dropdown-menu.fade-up {
		top: 180%;
	}

	.navbar .nav-item:hover .dropdown-menu {
		transition: .3s;
		opacity: 1;
		visibility: visible;
		top: 100%;
		transform: rotateX(0deg);
	}
}



.navbar-dark .navbar-nav .nav-link {
	color: gray;
}

.navbar-dark .navbar-brand {
	color: gray;
	font-weight: 900;
}

.navbar-dark .navbar-toggler {
	background: #7c7cff !important;
}


.header-text {
	color: #fff;
	text-decoration: none;
	font-size: 12px;
}

.single-cta {
	color: #00acc1;
	font-size: 12px;
}

ul.social-network {
	list-style: none;
	display: inline;
	margin-left: 0 !important;
	padding: 0;
}

ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
	background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
	background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
	color: #fff;
}

.social-network a.icoYoutube:hover {
	background-color: #fc0505;
}

.social-network a.icoYoutube:hover i,
.social-network a.icoYoutube:hover i {
	color: #fff;
}

.social-network a.icoInstagram:hover {
	background-color: #d62976;
}

.social-network a.icoInstagram:hover i,
.social-network a.icoInstagram:hover i {
	color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
	color: #44BCDD;
}

.social-circle li a {
	display: inline-block;
	position: relative;
	margin: 0 auto 0 auto;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	width: 30px;
	height: 30px;
	font-size: 15px;
}

.social-circle li i {
	margin: 0;
	line-height: 30px;
	text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}

.social-circle i {
	color: #007bb7;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

.social-network a {
	background-color: #111;
}


.top-nav {
	// border-bottom: 1px solid;
	// padding: 0px;
	// box-shadow: 0px 0px 6px 1px grey
	background: black;
}


@media screen and (max-width: 600px) {
	.top-nav {
		display: none;
	}

}

