
<app-header></app-header>
<app-slider></app-slider>

<section>
    <div class="container">
        <h4>Wood Supply</h4>
        <hr>
        <p>Woodline is an international wood import and wood export company, that supplies raw wood materials and wood
            products worldwide for a variety of industries and factories. Among different types of wood, Woodline – wood
            supplier specializes in importing and supplying softwood and hardwood lumber from Europe like beech, oak,
            pine, spruce and more. In Addison to raw wood materials, we supply wholesale of wooden products such as
            solid wood beds, single and bunk wooden beds, wooden chairs for, kindergarten, schools, and different
            companies.</p>
    </div>
</section>




<section>
    <div class="container">
        <h4>Wood Products</h4>
        <hr>
        <!-- Topic Cards -->
        <div id="cards_landscape_wrap-2">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod" >
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w2 (1).jpg" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Centring Items</h6>
                                        <p>Manufacturer of Centering Sheet - Centering Sheets 3x2 Hire Basis</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w2 (2).jpg" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Neem</h6>
                                        <p>Manufacturer of <br> 5x4, 5x3, 4x3 3x2
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w1 (1).jpg" alt="" />
                                    </div>

                                    <div class="text-container">
                                        <h6>Babool</h6>
                                        <p>Manufacturer of <br> 3 1/2, 2, 4 1/2, 5 1/2
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 card-bod">
                        <a href="">
                            <div class="card-flyer">
                                <div class="text-box">
                                    <div class="image-box">
                                        <img src="../../assets/images/w1 (2).jpg" alt="" />
                                    </div>
                                    <div class="text-container">
                                        <h6>Gary</h6>
                                        <p>Manufacturer of <br> 2x1, 3x1, 4x1 5x1
                                            <br> Hire Basis
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<section style="margin-bottom: 100px; ">
    <div class="container">
        <h4>Our Services</h4>
        <hr>

        <div class="row">
            <div class="col-md-3">
                <div class="card" style="width: 16rem; ">
                    <img src="../../assets/images/wood-manufacturers-and-supp.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Manufacturing plants</h5>
                        <p class="card-text">Working with <br>
                            Dozens of plants <br>
                            Throughout Europe</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                    <img src="../../assets/images/Production-and-a-woodcut-su.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Production and woodcut</h5>
                        <p class="card-text">woodcut <br>
                            production by <br>
                            Personal orders</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                    <img src="../../assets/images/wood-Transport-and-forwardi.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Transport and forwarding</h5>
                        <p class="card-text">Transport and forwarding
                            All regions of the country
                            And the world</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card" style="width: 16rem;">
                    <img src="../../assets/images/Competitive-wood-supplier-p.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">A competitive pricing</h5>
                        <p class="card-text">Competitive pricing <br>
                            For a variety of <br>
                            Various products</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="bg-image p-5 text-center shadow-1-strong rounded  text-white"
        style="background-image: url('../../assets/images/wood.png'); height: 350px;">
        <div style="margin-top: 50px;">
            <h1 class="mb-3 h2">Looking for a wood supplier?</h1>

            <p>
                For more information and additional quotes, consulting or partnership Do not hesitate to contact us
            </p>
        </div>
    </div>
</section>

<a href="https://api.whatsapp.com/send?phone=0916302583224&text=Hello%21%20." class="floating" target="_blank">
    <i class="fa fa-whatsapp float-button"></i>
</a>
<a href="https://youtube.com/@rockingstar6399" class="youtube-floating" target="_blank">
    <i class="fa fa-youtube float-youtube-button"></i>
</a>

<app-footer></app-footer>
